img {
    max-height: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.post {
    cursor: pointer;
    background-color: #fff;
}

.post:hover {
    background-color: #fffcea;
    border: 1px solid #ffd700;
}