.profile-img {
    max-height: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.post-img {
    width: 100%;
    object-fit: contain;
}

.post {
    cursor: pointer;
    background-color: #fff;
}

.comment {
    background-color: #fff;
    border-radius: 0.5rem;
}