<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hive | profile</title>
    <link rel="stylesheet" href="../../styles/css/styles.css">
    <link rel="stylesheet" href="../post/post.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand navbar-light bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../feed/feed.html">hive</a>
                <div class="d-flex">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../feed/feed.html">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-sm">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-column">
                        <p id="name" class="fw-bold"></p>
                        <a id="email" class="text-muted" href="mailto"></a>
                        <p id="bio" class="text-muted mt-2"></p>
                    </div>
                </div>
                <div class="col">
                    <img id="image" src="" alt="profile image" width="80"
                        class="img-fluid rounded-circle float-end">
                </div>
            </div>
            <div class="row user-actions"></div>
            <div class="row">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active position-relative" aria-current="page" href="#">
                            Posts
                            <span id="postCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-black">
                                2 <span class="visually-hidden">number of posts</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="#">
                            Followers
                            <span id="followerCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-black">
                                2 <span class="visually-hidden">number of followers</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="#">
                            Following
                            <span id="followingCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-black">
                                2 <span class="visually-hidden">number of following</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <section class="tab-view"></section>
        </div>
    </main>
    <footer></footer>
    <script type="module" src="../../js/api/profile/profile.js"></script>
    <script type="module" src="../profile/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>