<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hive | log in or register</title>
    <link rel="stylesheet" href="../../styles/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <i class="bi bi-question-circle-fill"></i>
    </header>
    <main>
        <div class="container-md text-bg-primary p-4 rounded-4">
            <div class="row align-items-center justify-content-center">
                <section class="col-md-6 text-center text-md-start">
                    <h1>hive</h1>
                    <p>
                        Welcome to <span class="header-font">hive</span>, the dynamic social media platform where connections and conversations flourish. 
                        Sign in to join our community, share your moments, and engage with the world around you.
                        Your <span class="header-font">hive</span> adventure starts now!
                    </p>
                </section>
                <section class="col-md-6">
                    <form action="" class="card bg-white p-4 gap-4">
                        <div class="form-floating">
                            <input type="email" id="email" name="email" class="form-control" placeholder="email@example.com" required>
                            <label for="email" class="text-muted">email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
                            <label for="password" class="text-muted">password</label>
                        </div>
                        <button class="btn btn-secondary" type="submit">Log in</button>
                        <div class="text-center">
                            <button type="submit" class="btn btn-link btn-sm text-secondary-emphasis">Sign up</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>